<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Crypto Mobile Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">
</head>

<body>
	
	<div class="form-row no-padding">
        <p id="userAccessToken"> <%=data.access_token%></p>>
    </div>
    <div class="form-row no-padding">
		<p id="userRefreshToken"> <%=data.refresh_token%></p>>
    </div>
    <div class="form-row no-padding">
        <p id="userSeqNo"> <%=data.user_seq_no%></p>>		
    </div>

</body>

<script>
    openWin.document.getElementById("userAccessToken").value =
        document.getElementById("accessToken").textContent;
    opener.document.getElementById("userRefreshToken").value =
        document.getElementById("refreshToken").textContent;
    opener.document.getElementById("userSeqNo").value =
        document.getElementById("usernum").textContent;
 </script>

</html>